.auth-containter{
    min-width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-weight: bold;
    }
    .auth-actions{
        margin-top: 8px;
        margin-bottom: 8px;
        display: flex;
        gap: 16px;
        justify-content: center;
    }
}